<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.disenofinal2bien">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DisenoFinal2Bien"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainLogin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
        <activity
            android:name=".MainRegistro"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
        <activity
            android:name=".Interfaz.Gastos.AñadirGasto"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
        <activity
            android:name=".Interfaz.Perfil.EditarUsuario"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
        <activity
            android:name=".Interfaz.Fichaje.Fichaje"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
        <activity
            android:name=".Tarjetas.Request"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
        <activity
            android:name=".Ajustes"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DisenoFinal2Bien.NoActionBar" />
    </application>

</manifest>